# Default settings that will be used with Docker-Compose
DEBUG=on
SECRET_KEY=NotSo@Secret
ALLOWED_HOSTS=127.0.0.1
POSTGRES_PASSWORD="password"
POSTGRES_DB="gmovies"
POSTGRES_USER="postgres"
DATABASE_URL=postgres://postgres:password@ghiblimovies_postgres:5432/gmovies
CACHE_URL=redis://ghiblimovies_redis:6379/0
CELERY_BROKER_URL=redis://ghiblimovies_redis:6379/1
CELERY_TASK_ALWAYS_EAGER=off
COMPOSE_PROJECT_NAME="ghiblimovies"

DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_EMAIL=admin@debugwith.me
DEFAULT_ADMIN_PASS=admin

# You can use these values for local testing without Docker-Compose:
#DATABASE_URL=sqlite:///./db.sqlite3
#TIME_ZONE=UTC
#USE_I18N=on
#USE_L10N=on
#USE_TZ=on

# You can enable sentry.io integration by adding your DSN URI
#SENTRY_DSN=

# NOTE: You can comment-out any settings for using the default values that do not require any external app like redis or postgresql
